.home {
  text-align: center;
}

.homeLogo {
  height: 20vmin;
  animation: home-logo-spin infinite 20s linear;
}

.homeHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.homeLink {
  color: #61dafb;
}

@keyframes home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
