.layout {
  height: 100%;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #fff;
  padding: 0;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.content {
  margin: 88px 16px 0;

  & > div {
    padding: 24px;
    background: #fff;
  }
}


